.jumbotron {
  padding: 2rem 2rem;
  background-color: rgb(233, 236, 239);
}

.btn-wht {
  background-color: white;
}

.btn-green {
  background-color: #65d777;
}

#isi {
  padding-top: 2rem;
  width: 70%;
  margin: auto;
}

footer {
  padding-top: 2rem;
  width: 70%;
  margin: auto;
}

nav {
  padding-top: 2rem;
  width: 70%;
  margin: auto;
}

.form {
  padding-top: 2rem;
  width: 70%;
  margin: auto;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

.non-line-text {
  text-decoration: none;
}

.non-line-text:hover {
  text-decoration: underline;
}

.color-red {
  color: red;
}

.color-red:hover {
  color: red;
}

.color-wht {
  color: rgb(255, 255, 255);
}

.color-wht:hover {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  text-decoration: underline;
}

.padding-zero {
  padding-right: 0%;
  padding-left: 0%;
}

.mg-top-zero {
  margin-top: 0rem;
}

.form-control {
  padding-right: 13.5rem;
}

/* .cust-button {
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
} */
